.wrapper{
    height: 300px;
}

.selected_item{
    position: right;
}
.selector{
    float: right;
    padding:9px 20px;
    width: 380px;
    height: 48px;
    border-radius: 28px;
    border:2px solid #000AFF;
}

.month{
    display: none;
    transition: all 1s;
    &_active{
        transition: all 1s;
        display: block;
        background-color: #FF00F50D;
    }
}

.half_year{
    display: none;
    transition: all 1s;
    &_active{
        transition: all 1s;
        display: block;
        background-color: #FF00F50D;
    }
}

.year{
    display: none;
    transition: all 1s;
    &_active{
        border-radius: 43px;
        transition: all 1s;
        display: block;
        background-color: #FF00F50D;
    }
}